{% extends "@App/layout.html.twig" %}
{% block content %}
	<h1 class="text-center"> </h1>
	{{ form_start(telefonoForm) }}
	{{ form_widget(telefonoForm.contacto) }}
	{{ form_end(telefonoForm) }}
{% endblock %}