{{ form_start(form) }}
    {{ form_row(form.nombre) }}

    <h3>Tags</h3>
    <ul class="tags">
        {% for numero in form.numeros %}
            <li>{{ form_row(tag.numero) }}</li>
        {% endfor %}
    </ul>
{{ form_end(form) }}